global
  log stdout format raw local0
  maxconn 100
  ssl-default-server-options ssl-min-ver TLSv1.3 no-tls-tickets
  ssl-default-server-ciphersuites TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 10s
  timeout client 1h
  timeout server 1h

frontend local_rtsps_in
  bind *:18555 ssl crt /usr/local/etc/haproxy/certs/proxy-combined.pem curves X25519MLKEM768:X25519:P-256:P-384
  default_backend pqc_tunnel_to_jetson

backend pqc_tunnel_to_jetson
  server jetson_pqc 192.168.0.106:18554 ssl verify required ca-file /usr/local/etc/haproxy/certs/jetson-mldsa65-ca.crt curves X25519MLKEM768

frontend mosquitto_in
  bind *:9993 ssl crt /usr/local/etc/haproxy/certs/proxy-combined.pem curves X25519MLKEM768:X25519:P-256:P-384
  default_backend mosquitto_pqc_out

backend mosquitto_pqc_out
  server mosquitto 127.0.0.1:8883 ssl verify required ca-file /usr/local/etc/haproxy/certs/mosquitto-oqs-ca.crt curves X25519MLKEM768
